@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #98c1d9, #e0aaff);
  height: 100%;
  margin: 0;
  padding: 0;
}
